@import "require/common"
@import "compass/reset"
// @import "compass/layout/sticky-footer"
// +sticky-footer(125px)
// @import "icons/*.png"
// @include all-icons-sprites

// *
//   +selection(black, white)
body
  font-family: $font-family
  width: 100%
img
  display: block
  +object-fit(cover)
@import "include/header"
@import "include/aside"
@import "include/footer"
