@font-face
  font-family: Custom
  src: local(source-han-sans-traditional), local("Noto Sans CJK TC"), local("Microsoft JhengHei UI"), local("Microsoft JhengHei"), local("PingFang TC"), local("Heiti TC")
  unicode-range: U+4E00-9FFF
@font-face
  font-family: Custom
  src: local(Roboto), local(Arial), local(sans-serif)
  unicode-range: U+00-024F
*,
*:before,
*:after
  box-sizing: inherit
::selection
  background-color: lighten(map-get($color, "yellow-orange"), 30%)
  color: darken(map-get($color, "ci-golden"), 30%)
html
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  box-sizing: border-box
  font-size: $root-font-size * 1px
body,
button,
select,
optgroup,
input,
textarea
  font-family: Custom
  color: map-get($color, "black")
+media
  body,
  button,
  select,
  optgroup,
  input,
  textarea
    font-family: Roboto, "Noto Sans TC", Custom
    color: map-get($color, "black")
body
  line-height: 1.6
  margin: 0
  height: 100vh
  overflow: hidden
main
  display: block
p,
dl,
dt,
dd,
figure,
blockquote
  margin: 0
+headings
  margin: 0
img,
video
  display: block
  object-fit: cover
  &[src=""]
    content: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7")
    background-color: transparent
button,
select,
input,
textarea
  width: 100%
  height: 44 / $root-font-size * 1rem
  line-height: 42 / $root-font-size * 1rem
  display: block
  border: none
  background-color: transparent
  transition: background-color .4s
  padding: 0
  &:focus
    outline: none
  &[disabled],
  &.disabled,
  &[disabled]:hover,
  &.disabled:hover,
  &[disabled]:active,
  &.disabled:active
    opacity: .5
    box-shadow: none
    cursor: default
    pointer-events: none
button
  cursor: pointer
  position: relative
  .comp-loading-icon
    width: 24px
    height: 24px
    position: absolute
    top: 50%
    left: 12px
    transform: translateY(-50%)
    opacity: 0
    transition: opacity .4s
    path
      fill: white
  &[disabled],
  &.disabled,
  &[disabled]:hover,
  &.disabled:hover,
  &[disabled]:active,
  &.disabled:active
    .comp-loading-icon
      opacity: 1
  &>.flex
    width: 100%
    height: 100%
select,
input,
textarea
  &:-webkit-autofill
    box-shadow: 0 0 0 30px white inset
    transition: background-color 5000s ease-in-out 0s
  &.error,
  &.error:focus
    color: map-get($color, "error") !important
    border-color: map-get($color, "error") !important
    box-shadow: 0 0 4px 1px map-get($color, "error") !important
    &::placeholder
      color: lighten(map-get($color, "error"), 20%) !important
select
  overflow: hidden
  font-size: 16 / $root-font-size * 1rem
  $is-global-common-elements: true !default
  @supports (appearance: none)
    appearance: none
    background-image: url(if($is-global-common-elements, "../../../../common-elements/assets/images/icons/material-design/expand_more.svg", "../../common-elements/assets/images/icons/material-design/expand_more.svg"))
    background-size: 16px 16px
    background-repeat: no-repeat
    background-position: calc(100% - (24px - 16px) / 2) center
    padding-right: 24px
    cursor: pointer
input,
textarea,
a
  &:focus
    outline: none
input,
textarea
  transition: background-color .4s, box-shadow .4s
  &:focus
    border-color: map-get($color, "ci-golden")
input
  &[type="number"],
  &[type="search"]
    +hide-spin
  &[type="radio"]
    &:focus
      box-shadow: none
textarea
  resize: none
p,
span
  &.error
    color: map-get($color, "error") !important
ul,
ol
  list-style: none
  margin: 0
  padding: 0
a
  color: inherit
  display: block
  text-decoration: none
  transition: background-color .4s, color .4s
svg
  display: block
  &.error
    polygon
      fill: map-get($color, "error") !important
mark
  background-color: transparent
