@import "require/common"
// @import "./components/compass-mixins/lib/compass/layout/sticky-footer"
// +sticky-footer(46px)

*,
*:before,
*:after
  box-sizing: inherit
// ::selection
//   background: black
//   color: white
html
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  box-sizing: border-box
body
  font-family: $font-family
  width: 100%
  line-height: 1
img
  display: block
  object-fit: cover
ul
  list-style-type: none
  margin: 0
  padding: 0
p
  margin: 0
label
  display: block
a,
button,
input,
textarea
  display: block
  &:focus
    outline: none
button
  cursor: pointer
  &[disabled]
    cursor: default
h1,
h2,
h3,
h4,
h5,
h6
  margin: 0
@import "include/header"
@import "include/aside"
@import "include/footer"
