@import "require/common"
// @import "./components/compass-mixins/lib/compass/reset"
// 建議改使用 https://github.com/necolas/normalize.css
// @import "./components/compass-mixins/lib/compass/layout/sticky-footer"
// +sticky-footer(46px)

*,
*:before,
*:after
  box-sizing: inherit
// ::selection
//   background: black
//   color: white
html
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  box-sizing: border-box
body
  font-family: $font-family
  width: 100%
  line-height: 1
img
  display: block
  object-fit: cover
@import "include/header"
@import "include/aside"
@import "include/footer"
