extends ../layout/default
block params
  - var pageID = 'index'
block head
  - var pageTitle = ''
  title #{pageTitle} - #{siteName}
block css
  style
    include:sass ../../sass/index.sass
block content
  main.main
block javascript
  script
    include:uglify-js:babel(presets=['es2015']) ../../js/index.js
