extends ../layout/default
block params
  - var pageID = 'index'
block head
  - var pageTitle = ''
  - var siteName = ''
  title #{pageTitle} - #{siteName}
block css
block content
  main.main
block javascript
